@import url("./styles//base/reset.css");
@import url("./styles//base/typography.css");
@import "./styles/variables.css";

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  color: var(--primary-text-color);
  display: flex;
  min-height: 100dvh; /* Ensures it takes up the full viewport without overflow */
}
body {
  background-color: var(--sidebars-background-color);
}
/* Scrollbar for Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--sidebars-background-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-accent);
  border-radius: 4px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-hover);
}
