:root {
  --background-color: #181818;
  --sidebars-background-color: #202020;
  --card-background-color: #2a2a2a;
  --primary-text-color: #e0e0e0;
  --primary-accent: #8ab3f8;
  --success-message-color: #4caf50;
  --error-message-color: #ff6b6b;
  --button-hover: #a5bfeb; /* Lightened version of primary accent */
  --box-shadow: 4px 0 10px rgba(0, 0, 0, 0.4);
  --box-shadow-glow: 0 0 5px var(--primary-accent); /* Adds a soft glow effect */
}
