:root {
  --background-color: #181818;
  --sidebars-background-color: #202020;
  --card-background-color: #2a2a2a;
  --primary-text-color: #e0e0e0;
  --primary-accent: #8ab3f8;
  --button-hover: #a5bfeb;
}
